{% extends 'base.html' %}

{% block title %}User {{ user.username }} - Minibini{% endblock %}

{% block navigation %}
{% include 'includes/settings_navigation.html' %}
{% endblock %}

{% block content %}
<h2>User: {{ user.username }}</h2>

<table border="1">
    <tr>
        <th>Field</th>
        <th>Value</th>
    </tr>
    <tr>
        <td>User ID</td>
        <td>{{ user.pk }}</td>
    </tr>
    <tr>
        <td>Username</td>
        <td>{{ user.username }}</td>
    </tr>
    <tr>
        <td>First Name</td>
        <td>{{ user.first_name|default:"No first name" }}</td>
    </tr>
    <tr>
        <td>Last Name</td>
        <td>{{ user.last_name|default:"No last name" }}</td>
    </tr>
    <tr>
        <td>Email</td>
        <td>{{ user.email|default:"No email" }}</td>
    </tr>
    <tr>
        <td>Contact</td>
        <td>{{ user.contact|default:"No contact" }}</td>
    </tr>
    <tr>
        <td>Groups</td>
        <td>{{ user.groups.all|join:", "|default:"No groups" }}</td>
    </tr>
    <tr>
        <td>Is Active</td>
        <td>{{ user.is_active|yesno:"Yes,No" }}</td>
    </tr>
    <tr>
        <td>Is Staff</td>
        <td>{{ user.is_staff|yesno:"Yes,No" }}</td>
    </tr>
    <tr>
        <td>Date Joined</td>
        <td>{{ user.date_joined }}</td>
    </tr>
</table>

<p><a href="{% url 'core:user_list' %}">Back to Users List</a></p>
{% endblock %}