{% extends 'base.html' %}

{% block title %}Create Worksheet for {{ job.job_number }}{% if job.name %}: {{ job.name }}{% endif %} - Minibini{% endblock %}

{% block content %}
<h1>Create New Estimate Worksheet</h1>
<h2>Job: {{ job.job_number }}{% if job.name %}: {{ job.name }}{% endif %}</h2>

<form method="post">
    {% csrf_token %}
    <table>
        {{ form.as_table }}
    </table>
    <button type="submit">Create Worksheet</button>
    <a href="{% url 'jobs:detail' job.job_id %}" class="btn-secondary">Cancel</a>
</form>

<p><em>Note: If you select a template above, tasks will be automatically created from the template.</em></p>
{% endblock %}